<div class="mt-5 pt-5 pb-5 footer">
    <div class="container">
      <div class="row">
          <div class="col-lg-3 col-xs-12 links">
              <h4 class="mt-lg-0 mt-sm-3 pb-2">Links</h4>
                <ul class="m-0 p-0">
                  <li>- <%= link_to "Home", photos_path %></li>
                  <li>- <a href="#">Grafitti</a></li>
                  <li>- <a href="#">Telas</a></li>
                  <li>- <a href="#">Ilustração</a></li>
                  <li>- <a href="#">Sobre</a></li>
                </ul>
                <br>
            </div>
        <div class="col-lg-5 col-xs-12 about-company">
          <h2 class="pb-2">nickalive</h2>
          <p class="pr-5 text-white-50">Artista paulistano iniciou sua carreira em meados de 1997
             tendo como suporte paredes para a aplicação de seus graffitis. A busca pelo crescimento 
             não cessou e hoje divide seu tempo entre as paredes, telas, papeis e desenhos digitais. </p>

        </div>

        <div class="col-lg-4 col-xs-12 location text-center">
          <h4 class="mt-lg-0 mt-sm-4 pb-2">Contato</h4>
          <br>
          <p><a href="mailto:nickodelico@yahoo.com.br"><i class="fa fa-envelope-o mr-3"></i>nickodelico@yahoo.com.br</a></p>
          <br>
          <div class="social-media">
            <p>
              <a href="https://www.facebook.com/NickAliveone/"><i class="fa fa-facebook-square"></i></a>
              <a href="https://www.instagram.com/nickaliveone/"><i class="fa fa-instagram"></i></a>
              <a href="https://twitter.com/nickaliveartist"><i class="fa fa-twitter-square"></i></a>
              <a href="https://www.behance.net/nickalive"><i class="fa fa-behance-square"></i></a>
            </p>
          </div>
        </div>
      </div>
      <div class="row mt-1">
        <div class="col copyright">
          <p class=""><small class="text-white-50">© 2019. All Rights Reserved.</small></p>
        </div>
      </div>
    </div>
    </div>