<nav class="nav navbar">
  <div class="container">
    <div class="logo">
      <%= link_to 'nickalive', root_path, {'data-turbolinks': 'false'} %>
    </div>
    <div id="mainListDiv" class="main_list">
      <ul class="navlinks">
        <li><a href="">Grafitti</a></li>
        <li><a href="">Telas</a></li>
        <li><a href="">Ilustrações</a></li>
        <li><%= link_to 'Sobre', admin_index_photos_path, {'data-turbolinks': 'false'} %></li>
        <li><a href="">Contato</a></li>
      </ul>
    </div>
    <span class="navTrigger">
        <i></i>
        <i></i>
        <i></i>
    </span>
  </div>
</nav>