<h1>Nickaliv</h1>

<%= link_to 'Novo post', new_photo_path %>

<% @photos.each do |photo| %>
  <div class="row p-2">
    <%= image_tag(url_for(photo.picture), {class: "img-fluid col-2"}) %>
    <div class="col-10">
      <h3><%= link_to photo.title, photo_path(photo) %></h3>
      <p><%= photo.body %></p>
    </div>
  </div>
<% end %>