<h1 class="text-light">Galeria</h1>

<div class="diamond-grid">
  <% @photos.each_with_index do |photo, index| %>
    <%= link_to url_for(photo.picture), {'data-lightbox': "grafitti" } do %>
    <div class="image-box" >
      <%= image_tag(url_for(photo.picture), {class: "thumb-image"}) %>
      <div class="image-center">
        <div class="image-text" ><%= photo.title %></div>
      </div>
    </div>
    
    <% end %>
  <% end %>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<script>
  lightbox.option({
    'albumLabel': '2019',
    'imageFadeDuration' : 300,
    'fadeDuration' : 300
  })
</script>