<h1>Nickaliv</h1>

<%= link_to 'Novo post', new_photo_path %>


<% @photos.each do |photo| %>
  <div class="image-container">
    <%= image_tag(url_for(photo.picture), {class: "thumb-image img-fluid"}) %>
    <div class="image-center">
      <div class="image-text"><%= photo.title %></div>
    </div>
  </div>
<% end %>
