<h1 class="text-light">Galeria</h1>

<div id="content">
  <div class="diamond-grid" id="diamond-grid">
    <%= render partial: 'photo' %>          
  </div>
  <div id="div_next_link">
    <%= render partial: 'next_link' %>
  </div>
</div>


<br>
<br>
<br>
<br>
<br>
<br>
<br>
<style> #footer{opacity: 0;} </style>
<script>
  lightbox.option({
    'albumLabel': '2019',
    'imageFadeDuration' : 300,
    'fadeDuration' : 300
  })
</script>