<h1 class="text-light">Galeria</h1>

<div class="diamond-grid">
  <% @photos.each_with_index do |photo, index| %>
    <!-- <%= link_to photo_path(photo) do %> -->
    <div class="image-box">
      <%= image_tag(url_for(photo.picture), {class: "thumb-image"}) %>
      <!-- <%= link_to image_tag(url_for(photo.picture)), photo_path(photo), class: "thumb-image" %> -->
      <div class="image-center">
        <div class="image-text" ><%= photo.title %></div>
      </div>
    </div>
    
    <!-- <% end %> -->
  <% end %>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>