.diamond-grid a{
  display: inline-block;
}

.image-container{
  position: relative;
  text-align: center;
  width: 300px;
  height: 300px;
  transform: rotate(45deg);
  overflow: hidden;
  display: inline-block;
}

.image-container .thumb-image{
  opacity: 0.8;
  transition: 0.5s ease;
  width: 450px;
  height: 450px;
  object-fit: cover;
  transform: rotate(-45deg) translateY(-25%);
  
}
.image-container:hover .thumb-image{
  opacity: 1.0;
}

.image-center{
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: 0.5s ease;
}

.image-container:hover .image-center{
  opacity: 1.0;
}

.image-text{
  color: #fff;
  font-size: 2rem;
  transform: rotate(-45deg);
}


