.diamond-grid a{
  width: 250px;
  height: 250px;
  transform: rotate(45deg);
  overflow: hidden;
  display: inline-block;
  margin-right: 100px;
  border: 2px solid #fff;
  // position: relative;
  text-align: center;
}

.image-box{

  // width: 250px;
  // height: 250px;
  // transform: rotate(45deg);
  // overflow: hidden;
  // display: inline-block;
  // margin-right: 100px;
  // border: 2px solid #000;
}

.image-box .thumb-image{
  opacity: 0.8;
  transition: 0.5s ease;
  width: 354px;
  height: 354px;
  object-fit: cover;
  transform: rotate(-45deg) translateY(-75px);
  display: table-cell;
}
.image-box:hover .thumb-image{
  opacity: 1.0;
}

.image-center{
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: 0.5s ease;
}

.image-box:hover .image-center{
  opacity: 1.0;
}

.image-text{
  color: #fff;
  font-size: 2rem;
  transform: rotate(-45deg);
}


.diamond-grid > a:nth-child(5n+4) {
  margin-left: 177px;
}
.diamond-grid > a:nth-child(n+4) {
  margin-top: -80px;
}

