@media (min-width: 1200px){
  .diamond-grid .image-box{
    transform: rotate(45deg);
    width: 250px;
    height: 250px;
    &:hover{
      transform: scale(1.1) rotate(45deg);
      z-index: 100;
    }
  }

  .image-box .thumb-image{
    transform: rotate(-45deg) translateY(-73px);
    width: 141.5%;
    height: 141.5%;
  }  
  
  .diamond-grid > div:nth-child(5n+4) {
    margin-left: 177px;
  }
  .diamond-grid > div:nth-child(n) {
    margin-top: -79px;
  }
}

@media (min-width: 992px) and (max-width: 1199px){
  .diamond-grid .image-box{
    transform: rotate(45deg);
    width: 250px;
    height: 250px;
    &:hover{
      transform: scale(1.1) rotate(45deg);
      z-index: 100;
    }
  }

  .image-box .thumb-image{
    transform: rotate(-45deg) translateY(-73px);
    width: 141.5%;
    height: 141.5%;
  }  
  .diamond-grid > div:nth-child(4n+3) {
    margin-left: 177px;
  }
  .diamond-grid > div:nth-child(n+3) {
    margin-top: -80px;
  }
}

@media (min-width: 768px) and (max-width: 991px){
  .diamond-grid .image-box{
    transform: rotate(45deg);
    width: 250px;
    height: 250px;
    &:hover{
      transform: scale(1.1) rotate(45deg);
      z-index: 100;
    }
  }

  .image-box .thumb-image{
    transform: rotate(-45deg) translateY(-73px);
    width: 141.5%;
    height: 141.5%;
  }  
  .diamond-grid > div:nth-child(2n+2) {
    margin-left: 177px;
  }
  .diamond-grid > div:nth-child(n+2) {
    margin-top: -80px;
  }
}

@media (max-width: 767px){
  .diamond-grid .image-box{
    width: 250px;
    height: 250px;
  }

  .image-box .thumb-image{
    width: 100%;
    height: 100%;
  }  
}

.diamond-grid .image-box{
  overflow: hidden;
  display: inline-block;
  border: 1px solid #fff;
  margin-right: 100px;
  position: relative;
  text-align: center;
}

.image-box .thumb-image{
  opacity: 0.8;
  transition: 0.5s ease-out;
  object-fit: cover;
  display: table-cell;
}

.image-box:hover .thumb-image{
  opacity: 1.0;
}

.image-center{
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: 0.5s ease;
}

.image-box:hover .image-center{
  opacity: 1.0;
}

.image-text{
  color: #fff;
  font-size: 2rem;
  transform: rotate(-45deg);
}

body{
  background-color: #000;
}

.diamond-grid {
  margin-top: 160px;
}

h1.text-light{
  text-align: center;
  margin-left: -160px;
}

// TODO
// Refatorar o CSS por @media
// add modal window gallery


